<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ua.classroom">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectRoleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentClassesListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreatePoolActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AbsenteeStudentsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherPoolListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentPoolListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnswerPoolActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherAnsweredActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>